@import url(../section/-title/section-title.css);
@import url(../section/-subtitle/section-subtitle.css);

.resources {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0;
  padding: 0;
}
