@import url(../two-columns/two-columns.css);
@import url(../two-columns/__brief/two-columns__brief.css);
@import url(../two-columns/__main-text/two-columns__main-text.css);
@import url(../two-columns/__text/two-columns__text.css);

.oakley {
  min-height: 350px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 0;
}
