.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Начало блока header*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.logo__header {
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  position: absolute;
  z-index: 2;
}

.title {
  width: 730px;
  margin: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__image {
  width: 765px;
  height: 608px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  position: absolute;
  top: 64px;
  right: 0;
}

/*Конец блока header*/

/*Начало блока description*/

.description {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.two-columns {
  padding: 100px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.main-text {
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.text__description {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  font-weight: bold;
}

/*Конец блока description*/

/*Начало блока digits*/

.digits {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding: 100px;
}

/*Конец блока digits*/

/*Дополнительные стили страницы*/

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}
