.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Начало блока header*/

.header {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.logo__header {
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  position: absolute;
  z-index: 2;
}

.title {
  width: 730px;
  margin: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__image {
  width: 765px;
  height: 608px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  position: absolute;
  top: 64px;
  right: 0;
}

/*Конец блока header*/

/*Начало блока description*/

.two-columns {
  padding: 100px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.main-text {
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.text__description {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  font-weight: bold;
}

/*Конец блока description*/

/*Начало блока digits и kaufman*/

/*Общие стили для двух блоков*/

.digits-kaufman-display {
  padding: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.title-subtitle {
  z-index: 1;
}

.digits-kaufman__main-text {
  z-index: 1;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style-type: none;
}

.cell {
  margin-top: 60px;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*Стили только для digits*/

.digits__cell {
  width: 250px;
}

/*Стили только для kaufman*/

.kaufman {
  background-color: #1f1f1f;
  color: white;
}

.kaufman__cell {
  width: 200px;
}

.kaufman__image {
  width: 877;
  height: 877;
  position: absolute;
  top: 0;
  right: -200px;
  z-index: 0;
}

/*Конец блока digits и kaufman*/

/*Начала блока feynman*/

.feynman {
  background-color: #f2f2f2;
  padding: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  margin: 0;
}

.feynman__subtitle {
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  z-index: 1;
}

.feynman__image {
  width: 867px;
  height: 637px;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*Конец блока feynman*/

/*Начало блока footer*/

.footer {
  height: 100vh;
  min-height: 350px;
  max-height: 450px;
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.columns__copyright .columns__info .columns__social
.info__columns-links .social__columns-links {
  display: flex;
  flex-direction: column;
}

.columns__copyright {
  flex-basis: 711px;
  justify-content: space-between;
  position: relative;
}

.logo__footer {
  width: 183px;
  height: 35px;
}

.author {
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.info__columns-links {
  margin: 20px 0 16px;
}

.columns-links {
  color: white;
  text-decoration: none;
  height: 10px;
}

.social__columns-links {
  margin-top: 20px;
  margin-bottom: 20px;
}
.columns-links__icon {
  width: 16px;
  height: 16px;
}

.columns-heading .columns-links {
  line-height: 30px;
  font-size: 18px;
}

.columns-heading {
  font-weight: bold;
}

/*Конец блока footer*/

/*Дополнительные стили страницы*/

.section-size {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
